
@charset "UTF-8";


/* font-family: 'Raleway', sans-serif; */
/* bleu clair -> $3498DB */
/* bleu foncé -> $2C3E50 */


body, html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif; 


}




a, a:hover {
    text-decoration: none;
}
.container-fluid {
    padding: 0;
}

.btn-custom {
    background-color: #349BDB;
    color: #ffffff;
}

.separator {
    height: 3px;
    width: 5%;
    border: none;
    box-shadow: none;
    background-color: #349BDB;

}
/* header */
.header {
    background-color: #349BDB;
    height: 70px;
    line-height: 70px;
}

.logo {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    float: left;
}

.menu {
    float: right;
}

.menu a {
    color: #ffffff;
    margin-right: 20px;
}

.menu a:hover {
    color:#2C3E50;
}

.banner {
    width: 100%;
    max-width: 100%;
}


.ban {
    width: 100%;
    max-width: 100%;
    position: relative;
}
.ban img {
    width: 100%;
    max-width: 100%;
}

.inner-banner {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
}


.inner-banner h1 {
    color: #ffffff;
    text-shadow: 1px 1px 20px #000000;
}

.inner-banner .btn-custom {
    background-color: #349BDB;
    color: #ffffff;
}

.inner-banner .btn-custom:hover {
    background-color: #2C3E50;
}


  #about {
    text-align: center;
    padding-top: 10%;
}

 .about article {
    margin-top: 10%;
    margin-bottom: 10%;
}

/* about */
  .about article h2 {
    text-align: center;
}
/* portfolio*/
 .portfolio {
    background-color: #eeeeee;
    height: 800;
}

 #portfolio {
    text-align: center;
}

 .portfolio .item-folio {
    height: 100px;
    background-color: #349BDB;
}


/* count */
 .footer {
    background-color: #2C3E50;
    height: 600px;
}

.footer p {
    color: #ffffff;
    text-align: center;
    padding-top: 5%;
}

#contact {
    color: #ffffff;
    text-align: center;
}

.formulaireContact {
    width: 500;
    display: block;
    margin: 0 auto;
}

input {
    margin-bottom: 20px;
}

input[type=text] {
    height: 50px;
    width: 500px;
    border: none;
}

input[type=email] {
    height: 50px;
    width: 500px;
    border: none;
}

textarea {
    width: 500px;
    height: 200px;
    resize: vertical;
}